@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --base-title: #272221;
  --purple: #8047f8;
}

body {
  color: var(--base-title);
  background: var(--background);
}
